@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

.app {
  display: flex;
  flex-direction: row;

  i{
    font-style: normal !important;
  }

  .vertical-nav {
    width: 200px;
    height: 100%;
    position: fixed;
    background-color: #222529;
    border-right: 1px solid #5eb5e0;

    .sidenav-button-toggle{
      position: fixed;
      bottom: 75px;
      left: 183px;
      width: 44px;
      height: 44px;

      i.fas.fa-chevron-circle-left{
        font-size: 32px;
        cursor: pointer;
        color: #5eb5e0;
        &::before{
          width: 32px;
          height: 32px;
          border-radius: 16px;
          background-color: #272B30;
        }
      }
    }

    a{
      span{
        margin-left: 10px;
      }
    }

    .user-profile-wrapper{
      padding: 0.5rem 1rem;
      display: flex;
      flex-direction: row;
      border-bottom: 5px solid #272B30;

      .user-name{
        width: 100%;
        margin-left: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  .active-nav{
    width: 55px;

    .user-profile-wrapper{
      .user-name{
        display: none;
      }
    }

    .nav{
      a{
        span{
          display: none;
        }
      }
    }
    .sidenav-button-toggle{
      left: 38px;
    }
  }

  .app-content {
    width: 100%;
    height: auto;
    margin-left: 200px;

    .progress-wrapper{
      .progress-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .progress-actions{
          i{
            font-size: 22px;
            margin-left: 10px;
          }
        }
      }
    }

    .tasks-container{
      margin: 0 20px;

      .current-day-plan{
        .day-plan-header{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
        .day-plan-body{
          min-height: 150px;
          background-color: #1c1e22;
          text-align: center;
          padding: 10px;
          span{
            opacity: 0.5;
          }
        }
      }
    }

    table thead tr th:last-child{
      text-align: right;
    }

    table tbody tr td:last-child{
      text-align: right;
    }

    .dropdown-custom-button{
      background-color: transparent;
      border: none;

      .fa-ellipsis-v:before {
        color: #fff;
      }
    }

    .dropdown-menu.show{
      top: 10px !important;
      left: -138px !important;
      box-shadow: 0px 2px 4px 2px rgba(0,0,0, 0.1);

      a{
        span{
          margin-left: 10px;
        }
      }
    }

    .tasks-header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      a{
        text-decoration: none;
      }
    }

    .task-body{
      min-height: 150px;
    }

    .card.add-task-card{
      opacity: 0.5;

      &:hover{
        opacity: 1;
      }

      .card-body{
        width: auto;
        min-height: 150px;
        border: 3px dashed #868686;
        border-spacing: 2px;
        position: relative;

        i.far.fa-plus-square{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 32px;
        }
      }
    }
  }

  .active-app-content{
    margin-left: 55px;
  }
}
