<div class="current-day-plan">
    <div class="day-plan-header">
        <h2>{{ 'now'|date("D") }}</h2>
        <h2>{{ 'now'|date("d.m.Y") }}</h2>
    </div>
    <div class="day-plan-body">
        <span>noch keine Aufgaben für den Tag ausgewählt</span>
    </div>
</div>