<div class="user-profile-wrapper">
    <div class="user-image">
        <i class="fas fa-user"></i>
    </div>
    <div class="user-name">
        <span>{{ app.user.username }}</span>
        <a href="/logout">
            logout
        </a>
    </div>
</div>